<h1>Listagem de Usuarios</h1>

<table class="table">
  <tr>
    <td>ID</td>
    <td>First name</td>
    <td>Detalhes</td>
  </tr>
  <%= for user <- @users do %>
    <tr>
      <td>
        <%= user.id %>
      </td>
      <td>
        <b><%= first_name(user) %></b>
      </td>
      <td>
          <%= link "View", to: PfuWeb.Router.Helpers.user_path(@conn, :show, user.id) %>
      </td>
    </tr>
  <% end %>
</table>
